name: CI_CD_Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with: 
          python-version: '3.11'

      - name: Run Unit testes
        run: |
          python -m unittest discover tests
      - name: Deploy (Simulated)
        run: |
          echo "Deployment step - Here you can add real deployment commanads"
